.u-section-1 .u-sheet-1 {
  min-height: 169px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  background-image: none;
  letter-spacing: 0.05px;
  line-height: 1.4;
  margin: 15px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 15px auto 27px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 504px;
}

.u-section-2 .u-text-1 {
  font-size: 3.25rem;
  letter-spacing: 0.05px;
  line-height: 1.4;
  margin: 38px auto 0 23px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-family: Inter;
  letter-spacing: 0.05px;
  margin: 19px 641px 0 23px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 0px;
  animation-duration: 1000ms;
  border-style: none;
  background-image: none;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 38px auto 0 23px;
  padding: 6px 16px 7px;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 0px;
  animation-duration: 1000ms;
  border-style: none;
  background-image: none;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 700;
  margin: -35px auto 27px 156px;
  padding: 6px 12px 7px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-family: Oswald, sans-serif;
  }

  .u-section-2 .u-text-2 {
    margin-right: 441px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 603px;
}

.u-section-3 .u-text-1 {
  font-size: 3.25rem;
  letter-spacing: 0.05px;
  line-height: 1.4;
  font-family: Oswald, sans-serif;
  margin: 46px auto 0 23px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-family: Inter;
  letter-spacing: 0.05px;
  margin: 15px 641px 0 23px;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 0px;
  animation-duration: 1000ms;
  border-style: none;
  background-image: none;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 30px auto 0 175px;
  padding: 6px 12px 7px;
}

.u-section-3 .u-btn-2 {
  letter-spacing: 0px;
  animation-duration: 1000ms;
  border-style: none;
  background-image: none;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 700;
  margin: -35px auto 0 23px;
  padding: 6px 16px 7px;
}

.u-section-3 .u-btn-3 {
  letter-spacing: 0px;
  animation-duration: 1000ms;
  border-style: none;
  background-image: none;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 700;
  margin: -35px auto 30px 335px;
  padding: 6px 12px 7px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 441px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 135px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 221px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-right: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}